<div class="main users-new">
  <div class="container">
    <div class="form-heading1">新規登録画面</div>
    <div class="form-heading2">TOBIRAに登録して、スキルを共有しよう</div>

    <!-- TODO:facebookボタンを作成し、API連携可能にする -->
    <div class="form users-form">
      <div class="form-body" >
        <%= form_for @user do |f| %>
          <%= f.label "ニックネーム※" %>
          <%= f.text_field :nickname %>
          <%= f.label "メールアドレス※" %>
          <%= f.text_field :email %> 
          <%= f.label "パスワード※" %>
          <%= f.label "半角英数字８文字以上" %>
          <%= f.text_field :password %> 
          <%= f.submit "新規登録" %>
        <% end %>
      </div>
    </div>
    <p>ユーザ登録がお済のかたはこちら</p>
  </div>
</div>
