<div class="main users-new">
  <div class="container">
    <div class="form-heading1">新規登録画面</div>
    <div class="form-heading2">TOBIRAに登録して、スキルを共有しよう</div>

    <!-- TODO:facebookボタンを作成し、API連携可能にする -->
    <div class="form users-form">
      <div class="form-body" >
        <!-- NOTE: errormessage表示するようにする -->
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        
        <%= form_for @user do |f| %>
          <%= f.label "ニックネーム※" %>
          <%= f.text_field :nickname, value: @user.nickname %>
          <%= f.label "メールアドレス※" %>
          <%= f.text_field :email, value: @user.email %> 
          <%= f.label "パスワード※" %>
          <%= f.label "半角英数字８文字以上" %>
          <%= f.password_field :password, value: @user.password %>
          <%= f.submit "登録する(無料)" %>
        <% end %>
      </div>
    </div>
    <p>ユーザ登録がお済のかたはこちら</p>
  </div>
</div>
