<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="main user-show">
  <div class="container">
    <div class="user">
      <!-- TODO プロフィール画像を出力 -->
      <h2><%= @user.nickname %></h2>
      <!-- TODO エリアを出力 -->
      <p><%= %></p>
      <!-- TODO いいねカウントを出力 -->
      <p><%= %></p>
      <textarea><%= @user.introduction%></textarea>
      <!-- TODO いいねボタンを出力 -->
      <!-- TODO メッセージ送信ボタンを出力 -->
    </div>
  </div>
</div>
