<div class="main user-show">
  <div class="container">
    <div class="user">
    　#NOTE: プロフィール画像を出力
    　<div class="user-left">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
      </div>
        
      <h2><%= @user.nickname %></h2>
      
      #TODO: エリアを出力
      <p><%= %></p>
      
      #TODO: いいねカウントを出力
      <p><%= %></p>
      
      <textarea><%= @user.introduction%></textarea>
      
      #TODO: いいねボタンを出力
      #TODO: メッセージ送信ボタンを出力
      
      <%= link_to("プロフィール設定", "/users/#{@user.id}/edit") %>
    </div>
  </div>
</div>