<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="main lessons-index">
  <div class="container">
    <h1 class="lessons-heading">ホスト一覧</h1>
    <% @lessons.each do |lesson| %>
      <div class="lessons-index-item">
        <!-- TODO:プロフィール画像表示 -->
        
        <div class="lesson-center">
          <div class="lesson-user-name">
            <!-- TODO:リンク先をlessons_show(ホスト詳細画面）に変更する -->
            <%= link_to(lesson.user.nickname, "/users/#{lesson.user.id}") %>
            <%= lesson.skill.name %>
            <%= lesson.area.name %>
            <%= lesson.lesson_type.name %>
          </div>
        </div>
        
        <div class="lesson-right" >
          <%= lesson.content %>
        </div>
      </div>
    <% end %>
  </div>
</div>
