<h1>条件検索</h1>

<%= search_form_for @search, url: '/lessons/search' do |f| %>
  <%= f.condition_fields do |c| %>
    <%= c.attribute_fields do |a| %>
      <!-- TODO: 検索項目を Areaテーブルのnameカラムの値にしたい.今のままだとAreaテーブルの全てのカラム -->
      <%= a.attribute_select association: [:areas] %>
    <% end %>
  <% end %>
  <!-- NOTE: 検索ボタン押したあとの遷移画面が今のままだと同じ検索画面のまま？ -->
  <div class="actions"><%= f.submit "検索" %></div>
<% end %>
