<!DOCTYPE html>
<html>
  <head>
    <title>Tobira</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("TweetApp", "/") %>
      </div>
      
      <ul class="header-menus">
        <% if session[:user_id] %>
          <li>
            現在ログインしているユーザーのid:
            <%= session[:user_id] %>
          </li>
          
          <!-- NOTE:ログインしている状態でヘッダーに表示するHTML -->
          <li>
            <%= link_to("TOBIRAについて", "/about") %>
          </li>
          <li>
            <%= link_to("ログアウト", "/logout", {method: :post}) %>
          </li>
          <li>
            <%= link_to(@user.nickname, "/users/#{@user.id}") %>
          </li>
          
          <!-- NOTE:ログインしていない状態でヘッダーに表示するHTML -->
          <li>
            <%= link_to("TOBIRAについて", "/about") %>
          </li>
          <li>
            <%= link_to("ログイン", "/login") %>
          </li>
          <li>
            <%= link_to("新規登録", "/signup") %>
          </li>
        
        <% end %>
      </ul>
    </header>
    
    <%= yield %>
  </body>
</html>
